/* Global */
:root {
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-skyblue: #a3c2ee;
  --color-dark-skyblue: #589bf3;
  --color-grey: #616161;
  --color-dark-grey: #4d4d4d;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-dark-blue: #1d81b1;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  --weight-bold: 700px;
  --weight-semi-bold: 600px;
  --weight-regular: 400px;

  --size-radius: 6px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  list-style: none;
  padding-left: 0px;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-skyblue);
  color: var(--color-grey);
  padding: 16px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__logo a {
  color: var(--color-grey);
}
.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  cursor: pointer;
  border-radius: var(--size-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-grey);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-skyblue);
}

/* Home */
#home {
  background: url("imgs/background.jpg") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home_avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home_title,
.home_description {
  color: var(--color-dark-grey);
}

.home_contact {
  color: var(--color-dark-grey);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-dark-grey);
  border-radius: var(--size-radius);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0px;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-dark-grey);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major__icon i {
  transition: all 300ms ease;
}

.major__icon:hover i {
  color: var(--color-skyblue);
  transform: rotate(-30deg) scale(1.2);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.study {
  display: flex;
  align-items: center;
}
.study i {
  font-size: var(--font-medium);
  color: var(--color-dark-grey);
}
.job_discription {
  margin: 0 16px;
  text-align: left;
}

.study__name,
.study__period {
  color: var(--color-light-grey);
}

.study__name {
  font-size: var(--font-small);
}

.study__period {
  font-size: var(--font-micro);
}

/* Skills */

#skills {
  background-color: var(--color-dark-blue);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0px;
}
.skillset__title {
  color: var(--color-white);
}

.skill {
  margin-bottom: 30px;
}

.skillset__left {
  background-color: var(--color-dark-grey);
  flex-basis: 60%;
  padding: 20px 40px;
}

.skillset__right {
  flex-basis: 40%;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill_value {
  height: 3px;
  background-color: var(--color-dark-blue);
}

.tools,
.etc {
  padding: 20px;
}

.tools {
  background-color: var(--color-grey);
}
