/* Global */
:root {
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-skyblue: #a1c5f7;
  --color-dark-skyblue: #589bf3;
  --color-grey: #616161;
  --color-dark-grey: #4d4d4d;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  --weight-bold: 700px;
  --weight-semi-bold: 600px;
  --weight-regular: 400px;

  --size-radius: 6px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  list-style: none;
  padding-left: 0px;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-skyblue);
  color: var(--color-grey);
  padding: 16px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__logo a {
  color: var(--color-grey);
}
.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  cursor: pointer;
  border-radius: var(--size-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-grey);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-skyblue);
}

/* Home */
#home {
  background: url("imgs/background.jpg") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home_avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home_title,
.home_description {
  color: var(--color-dark-grey);
}

.home_contact {
  color: var(--color-dark-grey);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-dark-grey);
  border-radius: var(--size-radius);
}
